html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: var(--calcite-color-background);
}

/* Calcite Theme Editor: https://esrips.github.io/calcite-theme-editor/ */

.calcite-mode-dark,
.calcite-mode-light {
  color-scheme: dark;
  --calcite-mode-name: dark;
  --calcite-color-brand: #36A2EB;
  --calcite-color-brand-hover: #147EC5;
  --calcite-color-brand-press: #1069A4;
  --calcite-color-text-1: #FFFFFF;
  --calcite-color-text-2: #FFFFFF;
  --calcite-color-text-3: #FFFFFF;
  --calcite-ui-text-highlight: #36A2EB;
  --calcite-color-text-inverse: #000000;
  --calcite-color-text-link: #147EC5;
  --calcite-link-blue-underline: rgba(54, 162, 235, 0.5);
  --calcite-color-background: #353535;
  --calcite-color-foreground-1: #2B2B2B;
  --calcite-color-foreground-2: #202020;
  --calcite-color-foreground-3: #131313;
  --calcite-color-inverse: #D4D4D4;
  --calcite-color-inverse-hover: #AAAAAA;
  --calcite-color-inverse-press: #7F7F7F;
  --calcite-color-border-1: #393939;
  --calcite-color-border-2: #3F3F3F;
  --calcite-color-border-3: #444444;
  --calcite-color-border-input: #4A4A4A;
  --calcite-ui-icon-color: currentColor;
  --calcite-color-status-info: #147EC5;
  --calcite-color-status-success: #36DA43;
  --calcite-color-status-warning: #FFC900;
  --calcite-color-status-danger: #FE583E;
  --calcite-color-status-danger-hover: #FF0015;
  --calcite-color-status-danger-press: #D90012;
}

.esri-widget,
.esri-search {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-foreground-1);
}

.esri-input,
.esri-menu {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-background);
}

.esri-menu__list-item--focus,
.esri-menu__list-item:hover,
.esri-menu__list-item:focus {
  background-color: var(--calcite-color-foreground-1);
}

.esri-widget--button {
  color: var(--calcite-color-text-1);
  background-color: var(--calcite-color-foreground-3);
}

.esri-legend {
  width: unset !important;
}


calcite-shell[content-behind] #center-container {
  margin: 0 50px 0 50px;
}

calcite-navigation[slot="header"] {
  --calcite-navigation-border-color: var(--calcite-color-brand);
}

calcite-navigation[slot="header"] [slot] {
  margin: 0 0.2rem;
}

calcite-navigation[slot="header"] calcite-action[slot="navigation-action"]:first-of-type {
  margin-left: 1rem;
  pointer-events: none;
}

calcite-navigation[slot="header"] calcite-navigation-logo {
  pointer-events: none;
  --calcite-color-text-1: var(--calcite-color-brand);
  --calcite-font-size-0: var(--calcite-font-size-2);
}

calcite-navigation calcite-action[slot="navigation-action"] {
  --calcite-color-icon-color: var(--calcite-color-brand);
}

calcite-loader#app-loader {
  --calcite-loader-size: 8rem;
  align-self: center;
  justify-self: center;
}

calcite-modal {
  --calcite-modal-content-background: var(--calcite-color-background);
}

calcite-modal [slot="secondary"] calcite-label {
  --calcite-label-margin-bottom: 0;
}

calcite-list-item {
  --calcite-color-text-1: var(--calcite-color-brand);
}

#center-container {
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#view-container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}


.esri-time-slider {
  box-shadow: none;
}

.esri-time-slider__slider,
.esri-time-slider__slider .esri-slider {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-foreground-1);
}

.esri-time-slider__row:first-of-type {
  display: none !important;
}

.esri-bookmarks__bookmark-content-label {
  --calcite-color-text-1: var(--calcite-color-text-1);
}


.esri-swipe {
  background-color: unset !important;
}


.esri-swipe__divider {
  outline: none !important;
  width: 8px !important;
  margin-left: -4px !important;
  background-color: var(--calcite-color-background) !important;
  border-left: 1px solid var(--calcite-color-border-2) !important;
  border-right: 1px solid var(--calcite-color-border-2) !important;
}

.esri-swipe__handle {
  color: var(--calcite-color-brand);
  background-color: var(--calcite-color-background) !important;
  border-color: var(--calcite-color-border-2) !important;
}

.esri-swipe__container:focus .esri-swipe__handle,
.esri-swipe__container:focus .esri-swipe__divider {
  outline: none;
}

.esri-swipe__handle:active {
  color: var(--calcite-color-brand);
  border-color: var(--calcite-color-brand) !important;
}

.swipe-label-container {
  pointer-events: auto !important;
  position: absolute;
  top: 5px;
  left: 50%;
  display: inline-flex;
}


.swipe-label {
  position: absolute;
  width: max-content;
  padding: 5px 15px;
  border: 1px solid var(--calcite-color-border-1);
  background-color: var(--calcite-color-foreground-1) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.swipe-label-leading {
  cursor: pointer !important;
  right: 0;
  display: inline-flex;
  gap: 8px;
}

.swipe-label-trailing {
  left: 0;
}

.swipe-label-trailing.tooltip:after {
  right: 10% !important;
}

#right-side-panel {
  --calcite-shell-panel-min-width: 350px;
  --calcite-shell-panel-max-width: 600px;
}

#options-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#location-btn-parent {
  margin: 0 60px;
  --calcite-label-margin-bottom: 4px;
}

#chart-card {
  min-height: 0;
  margin: 0 8px 8px 8px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

#chart-parent {
  min-height: 0;
  height: auto;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-foreground-1);
  /*border: solid 1px var(--calcite-color-border-3);*/
  border: solid 1px var(--calcite-link-blue-underline);
}

#chart-container {
  min-height: 0;
  flex: 1 1 auto;
}

calcite-button[appearance="solid"] {
  --calcite-color-text-inverse: var(--calcite-color-text-1);
}
